<%= form.error_messages %>
<div>Name: <%= form.text_field(:name)%></div>
<div>Phone: <%= form.text_field(:phone)%></div>
<div>Email: <%= form.text_field(:email)%></div>
<div><%= form.submit('Edit This User')%></div>