<div>Name: <%= @user.name %></div>
<div>Phone: <%= @user.phone %></div>
<div>Email: <%= @user.email %></div>

<span><%= link_to("Edit", edit_user_url(@user)) if @authorized_user.can?(:edit_user, @user) %></span>
<span><%= link_to("Delete", user_url(@user), 'data-method' => 'delete') if @authorized_user.can?(:delete_user, @user) %></span>
