<!DOCTYPE html>
<html>
<head>
  <title>BusinessManage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<%= render 'layouts/nav'%>

<div class="nav">
<span><%= link_to("Home", users_url)%></span>
<% if @authorized_user.can?(:create_users) %>
<span><%= link_to("Create User", new_user_url)%></span>
<% end %>

</div>

<%= yield %>

</body>
</html>
